<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for?(:title) %>
  	<%= yield(:title) %>
  	<% else %>
  	Ticketee
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
    <%if flash[:notice].to_s != "" %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <%end%>
    </div>
<%= yield %>

</body>
</html>
